kubernetes:
  api_server: http://apiserver
  token: token
cd:
  namespace: app
istio:
  kiali: kiali.istio-system.svc.cluster.local
channel:
- type: dingding
  name: "通知群"
  config:
  	token: token
  	secret: secret